extends ../layout 

block content
    h2.main Library Books
    p 
        a.button(href="/books/new") Create New Book
    
    if books.length > 0
        table
            thread
                tr
                    th Title
                    th Author
                    th Genre
                    th Year
            tbody
                each book in books
                    tr
                        td
                            a(href=`/books/${book.id}`) #{book.title}
                        td #{book.author}
                        td #{book.genre}
                        td #{book.year}
    else
        h2 Sorry, no books available...